html,body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	font-size: 12px;
	line-height: 18px;
}

p {
	margin-bottom: 0.8em;
	margin-top: 0;
}

a,a:link,a:active,a:visited {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #6f5499;
	text-decoration: none;
}

pre {
	border: 1px solid #c3d0e1;
	border-left: 5px solid #002e68;
	font-size: 12px;
	padding: 5px 15px;
	margin: 15px 0 0 40px;
	line-height: 18px;
}

code {
	display: block;
	margin: 0;
	padding: 0;
	line-height: 20px;
}

blockquote {
	border-left: 5px solid #002e68;
	padding: 0 0 0 15px;
	margin: 15px 0 0 40px;
	font: italic 14px Times New Roman italic;
	line-height: 20px;
}

ul {
	margin: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0;
	padding-left: 15px;
}

ul li {
	
}

ol {
	margin: 0;
	padding: 0 0 0 15px;
	*padding: 0 0 0 22px;
}

ol li {
	padding: 1px 0 1px 0;
}

h1 {
	margin: 0;
	padding: 0 0 4px;
	font: 18px Arial;
	font-weight: normal;
	line-height: 24px;
	color: #0b578d;
}

h2 {
	margin-top: 0.4em;
	margin-bottom: 0.2em;
	margin: 0;
	font: 15px Arial;
	font-weight: normal;
	line-height: 20px;
	color: #383838;
}

h2.pageheading {
	text-align: right;
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 0.5em;
	color: #0b578d
}

h3 {
	margin-top: 0.4em;
	margin-bottom: 0.2em;
	font: 13px Arial;
	font-weight: bold;
	line-height: 15px;
	color: #383838;
}

h4 {
	margin: 0;
	margin-top: 0.4em;
	margin-bottom: 0.2em;
	font: 12px Arial;
	font-weight: bold;
	line-height: 12px;
	color: #383838;
}

table {
	font-size: 12px;
	line-height: 18px;
}

.added {
	background: #8Fbc8F;
}

.removed {
	background: #F08080;
}

.sideReview {
	width: 48%;
	text-align: justify;
	font-size: medium;
}

.side-left {
	float: left;
}

.side-right {
	float: right;
}