# Classes #
*.class

# Package Files #
*.jar
*.war
*.ear

# Folder and IDEA/Eclipse Meta # 
**/target/*
**/.classpath*
**/.project*
**/.settings*
**/test-output*
**/.idea*
*.iml
**/spade-core/**/hibernate.properties
disco.properties
derby.log
