<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<!-- Hibernate Regular - for more see hibernate.properties -->
		<property name="connection.autocommit">true</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="cascade">save-update</property>
		<property name="show_sql">false</property>
		<property name="format_sql">false</property>
		<property name="use_sql_comments">false</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- C3P0 Connection Pooling in property file - depending on platform -->
<!-- 		<property name="hibernate.dbcp.initialSize">8</property> -->
<!-- 		<property name="hibernate.dbcp.maxActive">20</property> -->
<!-- 		<property name="hibernate.dbcp.maxIdle">20</property> -->
<!-- 		<property name="hibernate.dbcp.minIdle">0</property> -->

		<!-- Entities -->
		<mapping class="info.interactivesystems.spade.entities.NilsimsaSimilarity" />
		<mapping class="info.interactivesystems.spade.entities.Product" />
		<mapping class="info.interactivesystems.spade.entities.Review" />
		<mapping class="info.interactivesystems.spade.entities.User" />
		<mapping class="info.interactivesystems.spade.entities.Vote" />
		<mapping class="info.interactivesystems.spade.entities.Stylometry" />

	</session-factory>
</hibernate-configuration>